@tailwind base;
@tailwind components;
@tailwind utilities;

*::selection {
  background: #9ca3af;
  color: #eee;
}

*::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}
*::-webkit-scrollbar,
*::-webkit-scrollbar-track,
*::-webkit-scrollbar-thumb {
  width: 0;
  height: 0;
  display: none;
}
/* beautiful scrollbars */
.scroll::-webkit-scrollbar {
  width: 7px;
  height: 100%;
  display: block;
}

.scroll::-webkit-scrollbar-track {
  display: none;
}

.scroll::-webkit-scrollbar-thumb {
  display: block;
  background: #3f3f46;
  border-radius: 1rem;
}
